body {
	margin: 0 auto;
	width: 1600px;
	font-family: 'Lato', sans-serif;
}
ul {
	list-style-type: none;
}
button {
	background: transparent;
	border: none;
	outline: none !important;
	cursor: pointer;
	font-family: 'Lato', sans-serif;
}
.header-nav {
	background-color: #222222;
	min-height: 75px;
	padding: 18px 231px 20px 231px;
	box-sizing: border-box;
}
a {
	text-decoration: none;
}
.search-panel {
	float: left;
}
.search {
	margin-left: 25px;
}
.menu-btn {
	float: right;
}
.registration {
	margin: 0 25px;
}

/*NAVIGATION*/
.header-site {
	float: right;
	position: relative;

}
nav > label {
	cursor: pointer;
}
#nav-menu-list {
	display: none;	
}
.nav-menu-list-item {
	width: 230px;
	background-color: #fff;
	position: absolute;
	top: 41px;
	right: -231px;
	height: 767px;
	opacity: 0;
	z-index: 1;
}
[id="nav-menu-list"]:checked ~ .nav-menu-list-item {
	box-shadow:4px 0px 20px 0px rgba(0,0,0, 0.5);
	opacity: 1;
}
.menu-name {
	font-size: 14px;
	line-height: 17px;
	color: #000000;
	text-transform: uppercase;
	padding: 37px 0 24px 0;
}
.menu-link  {
	font-size: 14px;
	line-height: 17px;
	color: #F16D7F;
	text-transform: uppercase;
}
.menu-sublink {
	font-size: 14px;
	line-height: 17px;
	color: #6F6E6E;
}
.menu-sublist {
	padding: 12px 0 20px 20px;
}
.menu-subitem {
	padding-bottom: 11px;
}

/*END OF NAVIGATION*/

.slider {
	min-height: 764px;
	background-color: #F1E4E6;
	clear: both;
	position: relative;
	text-transform: uppercase;
	background-image: url(../images/background-slider.png);
	background-repeat: no-repeat;
}
.slider-text {
	position: absolute;
	bottom: 381px;
	left: 892px;
	border-left: 12px solid #F16D7F;
	padding-left: 12px;
}
.slider-text-title {
	font-size: 48px;
	line-height: 58px;
	font-weight: 900;
	color: #222222;
	text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	margin: 0;
}
.slider-text-sub-title {
	line-height: 38px;
	font-weight: 700;
	color: #222222;
	font-size: 32px;
	text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	margin: 0;
}
.slider-text-sub-title-span {
	font-weight: 700;
	font-size: 32px;
	color: #f16d7f;
	line-height: 38px;
	margin-left: 12px;
}
.offers {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 65px 230px 96px;
	box-sizing: border-box;
	text-transform: uppercase;
}
.for-women, .for-men, .for-kids {
	width: 360px;
	height: 260px;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}
.for-women {
	background-image: url(../images/for-women.png);
	background-repeat: no-repeat;
}
.for-men {
	background-image: url(../images/for-men.png);
	background-repeat: no-repeat;
}
.for-kids {
	background-image: url(../images/for-kids.png);
	background-repeat: no-repeat;
}
.accesories {
	width: 1142px;
	height: 180px;
	background-image: url(../images/accesories.png);
	background-repeat: no-repeat;
	margin-top: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}	
.offer-text {
	font-size: 16px;
	line-height: 19px;
	color: #FFFFFF;
	text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	font-weight: 400;
}
.offer-name {
	color: #F16D7F;
	font-size: 24px;
	text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	font-weight: 700;
	line-height: 29px;
}
.featured-product {
	padding: 0 230px 96px 230px;
}
.featured-product-title {
	text-align: center;
	display: block;
	font-size: 30px;
	line-height: 36px;
	font-weight: 400;
	text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.featured-product-text {
	text-align: center;
	margin-bottom: 32px;
	font-size: 14px;
	line-height: 17px;
	color: #9F9F9F;
}
.item-for-sale-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding-left: 0;
}
.item-for-sale-list-content {
	margin: 25px 0 0 17px;
}
.item-for-sale-list li {
	list-style-type: none;
	margin-bottom: 30px;
}
.item-for-sale-list-name {
	text-transform: uppercase;
	font-size: 13px;
	line-height: 16px;
	color: #000000;
}
.item-for-sale-list-text {
	width: 315px;
	font-weight: 300;
	font-size: 14px;
	line-height: 17px;
	color: #5D5D5D;
}
.item-for-sale-list-price {
	font-size: 16px;
	line-height: 19px;
	color: #F16D7F;
}
.item-for-sale-list-img {
	position: relative;
}
.item-for-sale-list-img-double {
	display: none;
	position: absolute;
	top: 0;
	height: 420px;
	width: 360px;
	background-color: rgba(58, 56, 56, 0.86);
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);	
}
.item-for-sale-list-btn-cart {
	position: absolute;
	bottom: 188px;
	left: 111px;
	font-size: 14px;
	line-height: 17px;
	color: #FFFFFF;
	border: 1px solid #FFFFFF;
	width: 139px;
	height: 44px;
	display: flex;
	align-items: center;
}
.item-for-sale-list-btn-cart img {
	margin-right: 11px;
}
.item-for-sale-list-img:hover .item-for-sale-list-img-double {
	display: block;
}
.item-for-sale-list-btn-icon {
	width: 26px;
	height: 24px;
}
.featured-product-btn {
	margin-left: 465px;
	font-size: 16px;
	color: #F26376;
	border: 1px solid #FF6A6A; 
	display: block;
	box-sizing: border-box;
	word-break: break-all;
	text-align: center;
	padding: 14px 37px;
}
.featured-product-btn:hover {
	color: #FFFFFF;
	background-color: #F16D7F;
}
.featured-product-btn:active {
	background-color: #222222;
}
.info-for-user {
	background-color: #222224;
	padding: 103px 230px 104px;
	display: flex;
	box-sizing: border-box;
}
.info-for-user-wrp {
	background-image: url(../images/icon-delivery.svg);
	background-repeat: no-repeat;
	background-position: top;
}
.info-for-user-wrp-2 {
	background-image: url(../images/icon-sales.svg);
	background-repeat: no-repeat;
	background-position: top;
}
.info-for-user-wrp-3 {
	background-image: url(../images/icon-quality.svg);
	background-repeat: no-repeat;
	background-position: top;
}
.info-for-user-title {
	font-size: 20px;
	line-height: 24px;
	color: #FBFBFB;
	display: block;
	text-align: center;
	margin-top: 60px;
}
.info-for-user-text {
	font-weight: 300;
	font-size: 14px;
	line-height: 17px;
	text-align: center;
	color: #FBFBFB;
	margin: 18px 0 0 0;
}
.subscribe-block {
	background-image: url(../images/subscribe-back.jpg);
	min-height: 448px;
	padding: 97px 230px 0;
	box-sizing: border-box;
}
.subscribe-block-wrp {
	float: left;
	background-image: url(../images/avatar.png);
	background-repeat: no-repeat;
	background-position: top;
}
.subscribe-block-wrp-2 {
	float: right;
	margin: 53px 97px 0 0;
	text-align: center;
	position: relative;
}
.subscribe-block-review {
	font-size: 20px;
	line-height: 24px;
	text-align: center;
	color: #222224;
	width: 360px;
	margin-top: 120px;
}
.subscribe-block-review span {
	font-style: italic;
}
.subscribe-block-title {
	font-weight: bold;
	font-size: 24px;
	line-height: 40px;
	text-align: center;
	color: #222224;
	text-transform: uppercase;
}
.subscribe-block-text {
	font-weight: 400;
	font-size: 18px;
	line-height: 30px;
	text-transform: uppercase;
}
.subscribe-block-input {
	width: 322px;
	height: 49px;
	font-size: 14px;
	line-height: 17px;
	color: #222224;
	opacity: 0.67;
	background-color: #E1E1E1;
	border: 1px solid #000000;
	box-sizing: border-box;
	box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
	border-radius: 30px;
	padding: 7px 65px 6px 22px;
	outline: none;
}
.subscribe-block-btn {
	width: 100px;
	height: 49px;
	font-size: 14px;
	line-height: 17px;
	text-align: center;
	color: #FFFFFF;
	background-color: #F16D7F;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	position: absolute;
	left: 270px;
	border-radius: 0 30px 30px 0;
}
.subscribe-block-btn:hover {
	color: #F16D7F;
	background-color: #FFFFFF;
}
.subscribe-block-btn:active {
	background-color: #222222;
}
footer {
	background-color: #222224;
	display: flex;
	justify-content: space-between;
	padding: 24px 230px 20px 235px;
}
footer span {
	font-size: 16px;
	font-weight: 400;
	line-height: 19px;
	color: #FBFBFB;
	padding-top: 6px;
}

.social-links a {
	margin-right: 7px;
}
svg:hover #social-link-back {
	fill: #F16D7F;
}
svg:hover #social-link-logo {
	fill: #FFFFFF;
}

/*STYLES FOR CATALOG PAGE*/
.bread-crumbs {
	min-height: 134px;
	background-color: #F8F3F4;
	padding: 54px 230px;
	box-sizing: border-box;
	display: flex;
	justify-content: space-between;
	text-transform: uppercase;
}
.bread-crumbs-name {
	font-size: 24px;
	line-height: 29px;
	color: #F16D7F;
}
.bread-crumbs-links-not-active {
	font-weight: 300;
	font-size: 14px;
	line-height: 17px;
	color: #636363;
}
.bread-crumbs-links-active {
	font-weight: bold;
	font-size: 14px;
	line-height: 17px;
	color: #F16D7F;
}
.catalog-products {
	padding: 65px 230px 96px;
}
.catalog-filter-btn {
	width: 15px;
	height: 10px;
	background-image: url(../images/catalog/filter-logo.svg);
	background-repeat: no-repeat;
}
.catalog-filter-btn-2, .catalog-filter-btn-3, .catalog-filter-btn-4 {
	background-image: url(../images/catalog/filter-logo-2.svg);
	background-repeat: no-repeat;
	width: 10px;
	height: 5px;
}
.catalog-products-nav {
	display: flex;
}
.catalog-products-filter {
	padding: 0;
	position: relative;
}
.catalog-products-filter-list {
	background: #FFFFFF;
	box-shadow: 6px 4px 35px rgb(0 0 0 / 21%);
	width: 328px;
	height: 469px;
	margin: 0;
	padding: 16px 5px 5px 13px;
	z-index: 1;
	display: none; 
	position: absolute;
	box-sizing: border-box;
}
.catalog-products-filter label {
	font-weight: 600;
	font-size: 14px;
	line-height: 17px;
	color: #000000;
	text-transform: uppercase;
}
.catalog-products-filter label:after {
	content: "" url(../images/catalog/filter-logo.svg);
	margin-left: 11px;
}
.catalog-product-list-wrp {
	margin-left: 320px;
}
.catalog-products-list {
	display: flex;
	padding: 0;
	margin: 0;
	font-size: 14px;
	line-height: 17px;
	color: #6F6E6E;
	text-transform: uppercase;
}
#catalog-filter-btn {
	display: none;
}
[id="catalog-filter-btn"]:checked ~ .catalog-products-filter-list {
	display: block;
}

.catalog-products-list-item {
	margin-right: 28px;
	padding-bottom: 5px;
	position: relative;
}
.catalog-products-list-item ul li {
	margin-bottom: 6px;
}
.catalog-products-list-item-size {
	display: none;
	position: absolute;
	top: 100%;
	z-index: 1;
	width: 79px;
	height: 103px;
	background: #FFFFFF;
	box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
	padding: 9px 30px 11px 9px;
	box-sizing: border-box;
}
.catalog-products-list-item:after {
	content: "" url(../images/catalog/filter-logo-2.svg);
	margin-left: 10px;
}

/*.catalog-products-nav ul ul li:before {
	content: "" url(../images/catalog/square-logo.svg);
	}*/

	.catalog-products-list li:hover > .catalog-products-list-item-size {
		display: block;
	}
	.catalog-products-filter-submenu {
		width: 290px;
		height: 37px;
		border-bottom: 1px solid #EBEBEB;
		display: flex;
		align-items: center;
		margin-left: 10px;
		position: relative;
		box-sizing: border-box;
	}
	.catalog-products-filter-submenu a {
		font-size: 14px;
		line-height: 17px;
		color: #EF5B70;
		text-transform: uppercase;
	}
	.catalog-products-filter-submenu:nth-child(3) {
		margin-bottom: 18px;
	}
	.catalog-products-filter-submenu:before {
		content: "" url(../images/sublist-catalog-svg.svg);
		position: absolute;
		left: -10px;
	}
	.category-menu {
		padding: 0;
		margin: 12px 0 0 0;
	}
	.category-menu-item {
		margin-bottom: 8px;
	}
	.category-menu-item a {
		font-size: 14px;
		line-height: 17px;
		color: #6F6E6E;
		text-transform: initial;
	}

	/* CATALOG PAGINATION */
	.catalog-pagination {
		margin: 0 672px 0 414px;
		width: 284px;
		height: 44px;
		border: 1px solid #EBEBEB;
		box-sizing: border-box;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.catalog-pagination a {
		float: left;
		margin: 5px 5px;
		font-weight: 300;
		font-size: 16px;
		line-height: 19px;
		color: #C4C4C4;
	}
	.catalog-pagination a.active {
		color: #EF5B70;
	}
	.catalog-pagination a:hover:not(.active, .catalog-pagination-svg) {
		background-color: #EBEBEB;
	}
	/* END CATALOG PAGINATION */