body {
	margin: 0 auto;
	width: 1600px;
	font-family: 'Lato', sans-serif;
}
button {
	background: transparent;
	border: none;
	cursor: pointer;
}
.header {
	background-color: #222222;
	height: 75px;
	padding: 18px 231px 20px 231px;
	box-sizing: border-box;
}
.search-panel {
	float: left;
}
.search {
	margin-left: 25px;
}
.menu {
	float: right;
}
.registration {
	margin: 0 25px;
}
.slider {
	background-color: #F1E4E6;
	clear: both;
	position: relative;
}
.slider-text {
	position: absolute;
	bottom: 381px;
	left: 892px;
	border-left: 12px solid #F16D7F;
	padding-left: 12px;
}
.text-style-1 {
	font-size: 48px;
	line-height: 58px;
	font-weight: 900;
	color: #222222;
	text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.text-style-2 {
	line-height: 38px;
	font-weight: 700;
	color: #222222;
	font-size: 32px;
	text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.text-style-3 {
	font-weight: 700;
	font-size: 32px;
	color: #f16d7f;
	line-height: 38px;
	margin-left: 12px;
}
.offers {
	flex-wrap: wrap;
	display: flex;
	padding: 65px 230px 96px;
	box-sizing: border-box;
}
.forwomen {
	margin-right: 30px;
	position: relative;
}
.offer-block {
	position: absolute;
	bottom: 100px;
	left: 123px;
	text-align: center;
}
.offer-block-accesories {
	position: absolute;
	bottom: 65px;
	left: 491px;
	text-align: center;
}
.offer-text {
	font-size: 16px;
	line-height: 19px;
	color: #FFFFFF;
	text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	font-weight: 400;
}
.offer-name {
	color: #F16D7F;
	font-size: 24px;
	text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	font-weight: 700;
	line-height: 29px;
}
.formen {
	margin-right: 30px;
	position: relative;
}
.accesories {
	margin-top: 30px;
	position: relative;
}
.forkids {
	position: relative;
}